/Codificador-ejb/build/
/build/
/dist/
/Codificador-war/build/
/Codificador-war/dist/
/Codificador-ejb/dist/
/Codificador-ejb/nbproject/private/
/Codificador-war/nbproject/private/
/nbproject/private/