<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/Login.xhtml</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>TipoContratoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.TipoContratoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#TipoContratoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EstadoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.EstadoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#EstadoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PeriodicidadPagoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.PeriodicidadPagoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#PeriodicidadPagoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RiesgoPuestoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.RiesgoPuestoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#RiesgoPuestoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>TipoRegimenFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.TipoRegimenFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#TipoRegimenFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ContribuyenteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.ContribuyenteFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#ContribuyenteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmpresaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.EmpresaFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#EmpresaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PercepcionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.PercepcionFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#PercepcionFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DeduccionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.DeduccionFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#DeduccionFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmpleadoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.EmpleadoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#EmpleadoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EmpresaContribuyenteFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.EmpresaContribuyenteFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#EmpresaContribuyenteFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProdServFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.ProdServFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#ProdServFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UnidadFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.UnidadFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#UnidadFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ImpuestoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.ImpuestoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#ImpuestoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CategoriaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>factura.servicio.CategoriaFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#CategoriaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>factura.servicio.ProductoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#ProductoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsoCfdiFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.UsoCfdiFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#UsoCfdiFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FormaPagoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.FormaPagoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#FormaPagoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MetodoPagoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>catalogo.servicio.MetodoPagoFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#MetodoPagoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FolioFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.FolioFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#FolioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FolioFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.FolioFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#FolioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>FolioFacade2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.FolioFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#FolioFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ComprobanteLFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>nomina.servicio.ComprobanteLFacadeLocal</local>
        <ejb-link>Codificador-ejb.jar#ComprobanteLFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CrearCFDI</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ejb.CrearCFDILocal</local>
        <ejb-link>Codificador-ejb.jar#CrearCFDI</ejb-link>
    </ejb-local-ref>
</web-app>
